body {
    background-color: tan;
    color: black;
}

#wrapper {
    width: 50%;
    margin: 0 auto;    
}

#board-container {
    width: 100%;
    /*border: solid 2px black;*/
    margin-bottom: 15px;
}

#board {
    width: 100%; 
    float: left;
}

#image-preview {
    /*rotate: 90; 
    overflow: hidden; */
    max-width: 100%;
    /*image-orientation: from-image;*/
}

#logo {
    height: 64px;
}